.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.menu-item__link-button {
  width: 114px;
  height: 114px;
  border-radius: 44px;
  background-color: var(--secondary-bg);
  outline: 7px solid var(--menu-item-border-color);
  box-shadow: var(--menu-item-box-shadow);

  & > svg {
    transform: scale(3);
    transform-origin: center;
    color: var(--primary-bg);
  }

  &:hover {
    background-color: var(--secondary-bg);

    & > svg {
      color: var(--primary-bg);
    }
  }
}

.menu-item__title {
  color: var(--primary-text);
  text-decoration: none;
  font-size: $font-size-s;
  text-transform: uppercase;
  font-weight: $font-primary-bold;
  margin: 0;
}

.menu-item--active {
  .menu-item__link-button {
    background-color: $color-primary-red;

    & > svg path {
      fill: white;
    }
  }

  .menu-item__title {
    color: $color-primary-red;
  }
}
