.intervals__desc {
  display: flex;
  gap: 72px;
  font-weight: $font-primary-semi-bold;
  font-size: $font-size-xxs;
  margin-left: 28px;
}

.intervals__items {
  overflow-y: auto;
  max-height: 160px;
  width: 310px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.interval-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;

  p:nth-child(1) {
    font-weight: $font-primary-semi-bold;
    font-size: $font-size-xxs;
    margin: 0;
    width: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p:nth-child(2) {
    border-left: 1px solid $color-primary-gray;
    border-right: 1px solid $color-primary-gray;
    color: $color-primary-gray;
    padding: 0 10px;
  }

  p:nth-child(3) {
    border-right: 1px solid $color-primary-gray;
    padding-right: 10px;
  }

  p:nth-child(2),
  p:nth-child(3) {
    font-weight: $font-primary-semi-bold;
    font-size: $font-size-l;
    font-variant-numeric: tabular-nums;
    margin: 0;
  }
}
