.status-heading {
  font-weight: $font-primary-bold;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 12px 0;
}

.status-heading--active {
  color: $color-primary-white;
}

.status-heading--processing {
  color: $color-primary-green;
}

.status-heading--size-sm {
  font-size: $font-size-l;
}

.status-heading--size-lg {
  font-size: $font-size-xl;
}
