.slots-container {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 12px;
  width: 80%;
  text-align: center;
}

.slots__add-slot-btn {
  background-color: $color-primary-blue;

  > svg {
    color: $color-primary-white;
  }

  &:hover {
    background-color: $color-primary-blue;
  }
}
