.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px;
  overflow: hidden;
}

.timer__slots {
  align-self: flex-start;
  width: 100%;
}
