// Colors
$color-primary-white: #FEFEFE;
$color-secondary-white: #FDFDFF;
$color-primary-black: #0F131C;
$color-secondary-black: #353B47;
$color-primary-gray: #676C72;
$color-primary-red: #8C1C13;
$color-primary-green: #397C70;
$color-primary-blue: #3A6B8F;

// Fonts
$font-family-primary: "Inter", Helvetica, sans-serif;
$font-family-secondary: "Rubik", sans-serif;

$font-size-xxl: 64px;
$font-size-xl: 48px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;

$font-primary-regular: 400;
$font-primary-medium: 500;
$font-primary-semi-bold: 600;
$font-primary-bold: 700;

$font-secondary-regular: 400;
$font-secondary-medium: 500;
$font-secondary-semi-bold: 600;
$font-secondary-bold: 700;

// Shadows
$box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

// Border radius
$outer-block-radius: 36px;
$component-radius: 6px;
