// Colors
$color-primary-white: #ececee;
$color-secondary-white: #eae9ee;
$color-primary-gray: #949197;
$color-primary-black: #0f0f11;
$color-primary-red: #b70013;
$color-secondary-red: #c10b32;
$color-primary-green: #5ebd77;

// Fonts
$font-family-primary: "Inter", Helvetica, sans-serif;
$font-family-secondary: "Rubik", sans-serif;

$font-size-xxl: 64px;
$font-size-xl: 48px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;

$font-primary-regular: 400;
$font-primary-medium: 500;
$font-primary-semi-bold: 600;
$font-primary-bold: 700;

$font-secondary-regular: 400;
$font-secondary-medium: 500;
$font-secondary-semi-bold: 600;
$font-secondary-bold: 700;

// Shadows
$box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

// Border radius
$outer-block-radius: 36px;
$component-radius: 6px;
