// Colors
$color-primary-white: #ECECEE;
$color-secondary-white: #EAE9EE;
$color-primary-gray: #949197;
$color-primary-black: #0F0F11;
$color-primary-red: #B70013;
$color-secondary-red: #C10B32;
$color-primary-green: #5EBD77;


// Fonts
$font-family-base: 'Inter', sans-serif;
$font-size-xl: 14px;
$font-size-l: 16px;
$font-size-m: 18px;
$font-size-s: 24px;
$font-weight-normal: 400;
$font-weight-bold: 700;


// Indents
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;


// Shadows
$box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);


// Border radius
$outer-block-radius: 36px;
$component-radius: 6px;