.digits {
  display: flex;
  align-items: center;
  gap: 34px;
}

.digits__digit-item {
  width: 340px;
  height: 250px;
  font-size: 214px;
  color: var(--time-digits-text);
  background-color: var( --time-digits-bg);
  border: 2px solid var(--time-digits-border-color);
  border-radius: 24px;
  font-family: $font-family-secondary;
  font-weight: $font-secondary-medium;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.digits__delimiter {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  gap: 40px;
  width: 28px;
  height: 88px;
  animation-name: delimiter-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  &::after,
  &:before {
    content: "";
    width: 28px;
    height: 24px;
    background-color: $color-primary-gray;
    border-radius: 8px;
  }
}

@keyframes delimiter-animation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
